<div class="bg-blue padding-min-height-1 ps-2 text-white">
    <h4 class="ps-2">Hey!</h4>
</div>
<div class="d-flex rewards-div">
    <div class="d-flex">
        <div class="rewards">
            <img src="https://in.bmscdn.com/webin/movies/superstar/rewards_login.png" alt="rewards" class="">
        </div>
        <div class="mx-2">Unlock special offers & great benefits</div>
    </div>
    <div>
        <div class="register-login-btn cursor-pointer">Login / Register</div>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="1 0 22 22">
                <path fill="#666" fill-rule="evenodd"
                    d="M13.977 5.094l.002.002-.005-.002v.001l-.021-.005.206.045A5.002 5.002 0 0 1 18 10v6.974L20 19h-2l-3.55-.001a2.5 2.5 0 1 1-4.9 0L7.027 19v.004h-3L6 17.003V10a5.002 5.002 0 0 1 4.048-4.91l-.049.01L10 4a2 2 0 1 1 4 0l.001 1.1-.008-.002-.035-.008.018.004zm-.563 13.905h-2.829a1.5 1.5 0 1 0 2.83 0zM13 6h-2a4 4 0 0 0-4 4v6.978L7.014 18H17v-8a4 4 0 0 0-4-4zm.983-.904l.003.001.007.001-.008-.001-.002-.001zm-.002 0h.002l-.005-.002.003.002zm-.28-.047l.112.017.018.002-.13-.019zm-3.388-.003l-.057.009.036-.005.02-.004zm.267-.029l-.172.018.148-.016.024-.002zm2.928.008l.082.01a5.014 5.014 0 0 0-.082-.01zm-2.803-.016l-.125.008h.015l.11-.008zm2.538-.003h.013l.05.003-.063-.003zM12 3a1 1 0 0 0-1 1v1h2V4a1 1 0 0 0-1-1z">
                </path>
            </svg>
        </div>
        <div>
            <p class="ps-2">Notifications</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img" src="https://assets-in.bmscdn.com/members/common/icons/purchasehistory.png">
        </div>
        <div>
            <p class="ps-2">Purchase History</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img" src="https://assets-in.bmscdn.com/members/common/icons/streamlibrary.png">
        </div>
        <div>
            <p class="ps-2">Stream Library</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img" src="https://assets-in.bmscdn.com/members/common/icons/helpandsupport.png">
        </div>
        <div>
            <p class="ps-2">Help & Support</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img"
                src="https://assets-in.bmscdn.com/members/common/icons/accountandsettings.png">
        </div>
        <div>
            <p class="ps-2">Account & Setting</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img" src="https://assets-in.bmscdn.com/members/common/icons/rewards.png">
        </div>
        <div>
            <p class="ps-2">Rewards</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>
<div class="d-flex justify-content-between py-3 px-3 border-bottom-grey cursor-pointer side-nav-item">
    <div class="d-flex">
        <div>
            <img class="side-nav-item-img" src="https://assets-in.bmscdn.com/members/common/icons/bookasmile.png">
        </div>
        <div>
            <p class="ps-2">BookASmile</p>
        </div>
    </div>
    <div>
        <svg width="6" height="11" xmlns="http://www.w3.org/2000/svg">
            <title>Right Arrow</title>
            <path
                d="M.627.958a.572.572 0 0 1 0-.747.447.447 0 0 1 .679 0l4.04 4.469a.569.569 0 0 1 0 .75L1.307 9.9a.447.447 0 0 1-.68 0 .572.572 0 0 1 0-.747l3.706-4.097L.627.958z"
                fill="#999"></path>
        </svg>
    </div>
</div>