<div class="pt-2">
    <app-carousel [autoSlide]="true"></app-carousel>
</div>
<div class="container">
    <div class="py-4">
        <app-recommended-movies></app-recommended-movies>
    </div>
    <div class="banner py-5 cursor-pointer">
        <img src="../../../assets/images/Banner.avif">
    </div>
    <div class="py-5">
        <app-events></app-events>
    </div>
</div>
<div class="bg-dark-blue my-3">
    <div class="container">
        <app-premiere-movies></app-premiere-movies>
    </div>
</div>