@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./scss/pre-defined.scss";
@import "./scss/variables.scss";
@import './scss/nested.scss';

body::-webkit-scrollbar {
    display: none;
}

body{
    overflow-x: hidden !important;
}

.dropdown{
    font-size: 16px;
    font-weight: 400;
    color: $lightGrey;
    padding-right: 15px;
    padding-top: 5px;
    line-height: 24px;
}

.dropdown::after{
    display: block;
    content: "";
    position: absolute;
    inset: 0px 0px 0px;
    margin: auto 0px auto auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid $white;
}

.signin-btn{
    color: $white;
    background-color: $cherishRed;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $cherishRed;
    display: block;
}

.new-label{
    font-size: 8px;
    color: $cherishRed;
    font-weight: 500;
}

.card-image-top{
    border-radius: 11px;
    height: 23rem;
    width: 15rem;
}

.events-card-image{
    height: 13rem;
    width: 15rem;
    border-radius: 11px;
}

.carousel img.image-active{
    display: flex;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: $white;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    transition: opacity 0.6s ease;
    opacity: 0.5;
}

.btn-carousel{
    padding: 10px;
    transform: translateX(0);
    transition: transform 0.4s ease;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 6px 6px 0;
}

.scroll-btn{
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgb(102, 102, 102);
    border-radius: 50%;
    padding-top: 0.5rem !important;
}

mat-sidenav{
    width: 350px;
}

.rewards-div{
    padding: 12px 16px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
    z-index: 1;
}

.register-login-btn{
    background-color: $white;
    border: 1px solid $cherishRed;
    color: $cherishRed;
    width: 117px;
    height: 35px;
    border-radius: 7px;
    padding-left: 7px;
    padding-top: 4px;
}

.side-nav-item-img{
    height: 20px;
    width: 20px;
}

.side-nav-item:hover{
    background-color: rgb(210, 209, 209);
}

.search-bar{
    padding: 0.5rem;
    background-color: $white;
    border: 1px solid $white;
    border-radius: 4px;
    width: 600px;
}

.see-all-movies-btn:hover{
    color: $red !important;
}

.search-city-bar{
    width: 100%;
    height: 45px;
    border: none;
    font-size: 12px;
    text-indent: 15px;
    outline: none;
}

.sign-in-btns{
    border: 1px solid $textLightGrey;
    border-radius: 4px;
}

.sign-in-btns:hover{
    border: none;
    background-color: $borderBottomGrey ;
}

.number-input{
    width: 183%;
    border: none;
    outline: none;
    border-bottom: 1px solid $textLightGrey;
    padding: 0px 0px 5px;
}