$white : white;
$blue : rgb(31, 37, 51);
$darkBlue : rgb(43, 49, 72);
$lightGrey : rgb(204, 204, 204);
$darkGrey : rgb(51, 51, 56);
$red : red;
$cherishRed : rgb(248, 68, 100);
$headerDarkBlue :  rgb(51, 53, 69);
$textDarkGrey : rgb(89, 89, 89);
$textLightGrey : rgb(153, 153, 153);
$borderBottomGrey : rgb(210, 209, 209);
$borderGrey : rgb(241, 241, 241);